<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/movieDetail.css">
</head>
<body>
    <main>
        <div class="country-details-container">
          
          <div class="country-details">
            <img src=<%=movie.Poster%> alt=<%=movie.Title%> />
            <div class="details-text-container">
              <h1><%=movie.Title%></h1>
              <div class="details-text">
                <p><b>Released : <%=movie.Released%> </b><span class="native-name"></span></p>
                <p><b>Genre : <%=movie.Genre%> </b><span class="population"></span></p>
                <p><b>Director : <%=movie.Director%> </b><span class="region"></span></p>
                <p><b>Writer : <%=movie.Writer%> </b><span class="sub-region"></span></p>
                <p><b>Actors : <%=movie.Actors%> </b><span class="capital"></span></p>
                <p>
                  <b>Awards : <%=movie.Awards%> </b><span class="top-level-domain"></span>
                </p>
                <p><b>Ratings : <%=movie.mdbRating%></b><span class="currencies"></span></p>
                <p><b>Type : <%=movie.Type%></b><span class="languages"></span></p>
              </div>
            </div>
          </div>
        </div>
    </main>
</body>
</html>